/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/


/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
    color: #4F6374;
    height: 100%;
}

.container {
    flex: 1;
}

.row-gap {
    margin-top: 24px;
    margin-bottom: 40px;
}


/* clear */

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover,
.col-product-sidebar a:hover {
    color: #c0c0c0;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

textarea {
    box-sizing: border-box;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input,
select,
textarea {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    background-color: white;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid rgba(136, 40, 129, 0.3) !important;
}

input[type=submit] {
    width: 96px;
    height: 32px;
    color: white;
    font-weight: bold;
    background-color: #882881;
    text-align: center;
    padding: 0 16px;
    margin: 0;
    line-height: 32px;
}

input[type=submit]:hover {
    opacity: 0.9;
}

li {
    list-style-type: none;
}


/*------------------------------------*\
    Typography
\*------------------------------------*/

.purple {
    color: #892880;
}

a {
    color: #892880;
}

p {
    line-height: 1.6;
}

.main-content {
    padding-left: 0;
}

.main-content p {
    margin: 16px 0;
}

h1 {
    color: #882881;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
}

h2 {
    color: #882881;
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
}

h3 {
    color: #882881;
    font-weight: 400;
    font-size: 18px;
    margin-top: 32px;
}

h4 {
    color: #882881;
    font-weight: 400;
    font-size: 16px;
    margin-top: 32px;
}

.post article {
    padding-bottom: 10vh;
}

article img {
    max-width: 320px !important;
    height: auto !important;
    margin: 0 auto !important;
    display: block !important;
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


/* container */

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex-header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}


/* header */

.header {
    position: relative;
    width: 100%;
    height: 120px;
}


/* Footer */

.footer-menu {
    padding-left: 0;
}

.footer-menu > ul > li {
    font-weight: bold;
}

.footer-menu .sub-menu {
    padding-left: 8px;
}

.footer-menu .sub-menu {
    padding-left: 8px;
}


/* logo */

.logo {
    position: relative;
    width: 36%;
}


/* Breadcrumbs */

#breadcrumbs {
    list-style: none;
    padding-left: 4px !important;
    display: inline-block !important;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

#breadcrumbs .separator {
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
}

#breadcrumbs .item-current {
    color: #882881;
}

a.bread-link,
a.bread-parent {
    color: #4F6374 !important;
}


/* nav */

.mobile-nav {
    display: none;
}

.mobile-nav > ul {
    width: 216px;
}

nav {
    width: 64%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    margin-right: 16px;
}

nav li {
    display: inline-block;
    font-size: 14px;
    padding: 6px 5px;
    position: relative;
}

nav li:last-child {
    margin-right: 0;
}

nav ul.sub-menu {
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    background-color: #4F6374;
    padding: 8px;
    position: absolute;
    left: 0px;
    margin-top: 6px;
    width: 200px;
    transition: all 0.4s ease-in-out;
}

nav a {
    color: #4F6374;
}


/* -- dropdown -- */

nav .dropdown {
    transition: all 0.4s ease-in-out;
}

nav .dropdown:hover {
    background-color: #4F6374;
}

nav .dropdown:hover > a {
    color: white;
    text-decoration: none;
}

nav .dropdown > a:hover {
    color: white;
    text-decoration: none;
}


/* --/dropdown -- */

nav ul.sub-menu a {
    color: white;
}


/* Fix dropdown menu first item */

nav ul.sub-menu li:first-child {
    margin-top: 0;
}

nav ul.sub-menu li {
    width: 100%;
}

nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}


/* Search */

.search-input {
    border: 1px solid #B8B8B8;
    height: 24px;
    width: 134px;
    font-size: 12px;
}

.search-submit {
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
}


/* Feature image */

.feature {
    width: 100%;
    height: 390px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-image {
    background-image: url(img/feature-imgs/fibre-optic.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.feature h1 {
    font-size: 48px;
    color: #a5afb8;
    letter-spacing: -2px;
    line-height: 1.2;
    position: relative;
    z-index: 1;
}

.feature h1 span {
    color: #882881;
}

.feature p {
    color: #892880;
    font-style: italic;
    font-size: 24px;
    position: relative;
    z-index: 1;
}


/* footer */

.footer {
    background-color: #d2d7db;
    padding: 32px 32px;
    width: 100%;
    display: block;
}

.footer a {
    color: #535F74;
    text-decoration: underline;
}

.footer > .container > div {
    width: 25%;
    min-width: 200px;
    padding: 16px;
    float: left;
    position: relative;
}

.footer h3 {
    color: #535F74;
    font-size: 14px;
    margin-top: 0;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    margin: 4px 0;
}

.footer a,
.footer li,
.footer p {
    font-size: 12px;
    font-weight: 300;
}

.footer .social a {
    display: block;
    margin: 4px 0;
    text-decoration: none;
}

.footer a:hover {
    opacity: 0.8;
}

.footer .social a i {
    font-size: 24px;
}


/*------------------------------------*\
    HOMEPAGE
\*------------------------------------*/

.homepage-menu {
    padding-left: 0;
}

.homepage-menu .sub-menu {
    padding-left: 16px;
}


/* menu titles */

.homepage-menu > li > a,
.homepage-menu > li > a:hover,
.homepage-menu > li > a > h3,
h3.purple-heading {
    color: #882881;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    cursor: default !important;
}

h3.purple-heading {
    margin-top: 32px;
    height: 20px;
    display: block;
}

.homepage-menu > li > ul > li {
    list-style-image: url(https://www.scintacor.com/wp-content/uploads/2015/05/bullet.png);
}

.homepage-menu > li > ul > li > a {
    color: #4F6374;
    text-decoration: underline;
    font-size: 16px;
    display: block;
    margin: 12px 0;
    font-weight: normal;
}

.homepage-menu > li > ul > li > a:hover {
    color: #c0c0c0;
}

p.statement {
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    color: #d2d7db;
    text-align: right;
    line-height: 38px;
}


/* Recent blog posts and event */

ul.recent-blog-post,
div.recent-blog-post {
    background-color: #EFEFEF;
    padding: 16px;
    margin-bottom: 32px;
    position: relative;
    height: 150px;
}

.recent-blog-post h4 {
    margin: 0;
}

.recent-blog-post h4 a {
    font-size: 16px !important;
    font-weight: bold;
    color: #535F74;
    line-height: 1.4;
    display: block;
}

.recent-blog-post-event {
    display: flex;
}

.rbp-left {
    width: 156px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.rbp-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-left: 16px;
}


/* Adjusts the date p on the homepage event */

.rbp-right p:first-child {
    margin-bottom: 4px;
    margin-top: 0;
}

.rbp-right a {
    font-size: 16px;
    font-weight: bold;
    color: #535F74;
    line-height: 1.4;
    display: block;
}


/* Adjust the location p on the homepage event */

.rbp-right p:last-child {
    margin-bottom: 0;
    margin-top: 4px;
}

a.all-events,
.recent-blog-post a.view-article {
    position: absolute;
    width: auto;
    height: 24px;
    font-size: 12px;
    color: #535F74;
    font-weight: bold;
    right: 8px;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


/*------------------------------------*\
    PRODUCTS
\*------------------------------------*/

.col-product {
    padding-right: 16%;
    padding-left: 0;
    padding-bottom: 56px;
}

.col-product p:first-child {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    font-weight: normal;
    /*color: #892880;*/
}

.col-product-sidebar {
    padding-bottom: 32px;
}

.col-product-sidebar ul {
    padding-left: 0;
}

.col-product-sidebar ul li {
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: normal;
}

.col-product-sidebar a {
    color: #4F6374;
    text-decoration: underline;
}

.col-product ul,
.col-product ol {
    padding-left: 16px;
}

.col-product ul li {
    list-style-type: square;
}

.col-product ol li {
    list-style-type: decimal;
}

.col-product blockquote {
    background-color: rgba(210, 215, 219, 0.4);
    border-left: 4px solid #d2d7db;
}

.col-product blockquote p {
    color: #4F6374 !important;
}


/*------------------------------------*\
    MARKETS
\*------------------------------------*/

.row-markets {
    padding-bottom: 16px;
}

.row-markets ul {
    padding-left: 16px;
}

.row-markets ul li {
    list-style-image: url(https://www.scintacor.com/wp-content/uploads/2015/05/bullet.png);
}

.row-markets ul li a {
    color: #4F6374;
    text-decoration: underline;
    font-size: 16px;
    display: block;
    margin: 12px 0;
    font-weight: normal;
}

.row-markets h2 {
    min-height: 44px;
    line-height: 1.4;
}


/*------------------------------------*\
    BLOG AND EVENTS
\*------------------------------------*/

.blog-sidebar {
    padding-bottom: 64px;
}

.blog-sidebar h3 {
    font-size: 16px;
    color: #882881;
    font-weight: bold;
    margin-bottom: 15px;
}


/* Remove padding on lists */

.blog-sidebar ul {
    padding-left: 0;
}


/* hides duplication of word archive */

.blog-sidebar label {
    display: none;
}

.blog-sidebar ul li {
    margin: 8px 0;
}

.blog-sidebar ul li a {
    color: #4F6374;
}

.blog-sidebar select {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0px;
}


/* post date */

.blog-sidebar span.post-date {
    display: block;
    font-style: italic;
    opacity: 0.9;
    font-size: 12px;
}

.event {
    padding: 8px 0;
}

p.event-date {
    font-size: 12px;
    margin-bottom: 0;
}

h3.event-name a {
    font-size: 14px;
    color: #4F6374;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

h3.event-name {
    margin: 0;
    padding: 0;
}

p.event-location {
    font-size: 12px;
    margin-bottom: 0;
}


/*------------------------------------*\
    Search Page
\*------------------------------------*/

.search-page {
    margin-top: 40px;
}

.search-page h1 {
    margin-top: 0;
}


/*------------------------------------*\
    Pagination
\*------------------------------------*/

.pagination,
.entry-content .pagination {
    position: relative;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.pagination span,
.entry-content .pagination span,
.pagination a,
.entry-content .pagination a {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    background: #ffffff;
    font-weight: bold;
    color: #882881;
    width: auto;
    text-decoration: none;
}

.pagination span:last-child,
.entry-content .pagination span:last-child,
.pagination a:last-child,
.entry-content .pagination a:last-child {
    margin-right: 0;
}

.pagination a:hover,
.entry-content .pagination a:hover {
    background: #882881;
    color: #ffffff !important;
}

.pagination .current,
.entry-content .pagination .current {
    background: #882881;
    color: #ffffff;
}

.site-content .nav-previous,
.site-content .nav-next {
    white-space: nowrap;
}

.site-content .nav-previous {
    float: left;
    width: 50%;
}

.site-content .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}


/*------------------------------------*\
	HAMBURGER
\*------------------------------------*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    display: none;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    width: 64px;
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    border-left: 1px solid #d2d7db;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #892880;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}


/*
   * 3DX
   */

.hamburger--3dx .hamburger-box {
    perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent;
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*------------------------------------*\
   FIXES
\*------------------------------------*/

.widget_archive label {
    display: none;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:1080px) {
    .main-content {
        padding-left: 15px;
    }
    nav {
        display: none;
    }
    a.bread-link,
    a.bread-parent {
        color: #fff !important;
    }
    .row-gap {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .logo img {
        max-height: 40px;
    }
    .hamburger {
        display: block;
    }
    .header {
        height: 56px;
        border-bottom: 1px solid #d2d7db;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 101;
        background-color: white;
    }
    .search-page {
        margin-top: 60px;
    }
    .mobile-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        position: fixed;
        overflow: scroll;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 100;
        background-color: #fff;
    }
    .mobile-nav > ul {
        position: absolute;
        padding-bottom: 10vh;
        top: 138px;
        left: 50%;
        transform: translateX(-50%);
    }
    .mobile-nav ul {
        padding-left: 0;
    }
    .mobile-nav li {
        font-size: 18px;
        font-weight: bold;
        margin: 4px 0;
    }
    .mobile-nav > ul > li {
        margin-bottom: 8px;
    }
    .mobile-nav li ul li {
        font-size: 16px;
        margin-left: 16px;
        list-style-image: url(https://www.scintacor.com/wp-content/uploads/2015/05/bullet.png);
        font-weight: normal;
        text-decoration: underline;
    }
    .mobile-nav li a {
        color: #892880;
    }
    .mobile-nav li ul li a {
        color: #4F6374;
    }
    .mobile-nav form {
        width: 100%;
        margin-top: 8px;
        height: 56px;
        position: absolute;
        top: 56px;
        left: 0;
    }
    ul.recent-blog-post,
    div.recent-blog-post {
        height: auto;
    }
    .mobile-nav .search-submit {
        background-color: #fff;
        border: none;
        width: 56px;
        height: 56px;
        position: absolute;
        right: 0px;
        padding: 14px;
    }
    .mobile-nav .search-input {
        height: 40px;
        border: 1px solid #d2d7db;
        border-radius: 2px;
        margin-top: 8px;
        margin-left: 8px;
        width: calc( 100% - 71px);
    }
    .mobile-menu-btn {
        width: 64px;
        height: 56px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        border-left: 1px solid #d2d7db;
    }
    .mobile-menu-btn:focus {
        outline: none;
    }
    /* homepage */
    .feature {
        margin-top: 56px;
        background-color: #bcbcbc;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .feature-image {
        background-position: center;
        background-size: cover;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .feature h1 {
        font-size: 32px;
        color: white;
        text-align: center;
        padding: 0 16px;
    }
    .feature p {
        font-size: 16px;
        padding: 0 16px;
        text-align: center;
    }
    .feature br {
        display: none;
    }
    .homepage-menu .sub-menu {
        padding-left: 32px;
    }
    p.statement {
        font-size: 24px;
        margin: 16px 0;
        font-style: italic;
        font-weight: normal;
        color: #d2d7db;
        text-align: left;
        line-height: 32px;
    }
    /* Product */
    .col-product {
        padding-top: 24px;
        padding-right: 8%;
        padding-left: 8%;
        padding-bottom: 24px;
    }
    .col-product-sidebar {
        padding-bottom: 40px;
    }
    @media (max-width: 767px) {
        .col-product-sidebar {
            padding-left: 8%;
            padding-right: 8%;
        }
        .col-product-sidebar h3:first-child {
            margin-top: 0;
        }
    }
    /* Blog and events */
    article {
        padding-bottom: 0px;
    }
    .blog-sidebar {
        padding-top: 16px;
        border-top: 1px solid #d2d7db;
    }
    /* Markets */
    .row-markets h2 {
        min-height: 10px;
        margin-top: 32px;
    }
    /*breadcrumbs*/
    #breadcrumbs {
        text-align: center;
    }
}


/*------------------------------------*\
    MISC
\*------------------------------------*/


/* Fix color of technical papers */

.page-id-219 .col-product a {
    color: #4F6374;
    text-decoration: underline;
}

.page-id-219 .col-product a:hover {
    color: #c0c0c0;
}


/* fix sitempa links color */

.page-id-997 .col-product ul > li > ul a {
    color: #4F6374;
    text-decoration: underline;
}

.page-id-997 .col-product ul > li > ul a:hover {
    color: #c0c0c0;
}

.page-id-997 .col-product li {
    margin-top: 6px;
    margin-bottom: 6px;
}

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}


/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}