@import url('colors.css');
/*
 * 
 * * Button mixin- creates 3d-ish button effect with correct
 * * highlights/shadows, based on a base color.
 */
html {
  background: #f1f1f1; }

/*
 * Links
 */
a {
  color: #0073aa; }
  a:hover,
  a:active,
  a:focus {
    color: #0096dd; }

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #0096dd; }

/*
 * Forms
 */
input[type=checkbox]:checked:before {
  color: #892880; }

input[type=radio]:checked:before {
  background: #892880; }

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #0096dd; }

/*
 * Core UI
 */
  .wp-core-ui .button-primary {
    background: #892880;
    border-color: #621c5b;
    color: white;
    box-shadow: inset 0 1px 0 #c439b7, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .wp-core-ui .button-primary:hover,
  .wp-core-ui .button-primary:focus {
    background: #75226e;
    border-color: #4e1749;
    color: white;
    box-shadow: inset 0 1px 0 #b034a5; }
  .wp-core-ui .button-primary:focus {
    box-shadow: inset 0 1px 0 #b034a5, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary:active {
    background: #621c5b;
    border-color: #4e1749;
    color: white;
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary[disabled],
  .wp-core-ui .button-primary:disabled,
  .wp-core-ui .button-primary.button-primary-disabled,
  .wp-core-ui .button-primary.disabled {
    color: #d1c7d0 !important;
    background: #691f62 !important;
    border-color: #4e1749 !important;
    text-shadow: none !important; }
  .wp-core-ui .wp-ui-primary {
    color: white;
    background-color: white; }
  .wp-core-ui .wp-ui-text-primary {
    color: white; }
  .wp-core-ui .wp-ui-highlight {
    color: #e2e2e2;
    background-color: #892880; }
  .wp-core-ui .wp-ui-text-highlight {
    color: #892880; }
  .wp-core-ui .wp-ui-notification {
    color: white;
    background-color: #892880; }
  .wp-core-ui .wp-ui-text-notification {
    color: #892880; }
  .wp-core-ui .wp-ui-text-icon {
    color: #895388; }

/*
 * List tables
 */
.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #892880;
  background-color: white; }

.view-switch a.current:before {
  color: white; }

.view-switch a:hover:before {
  color: #892880; }

.post-com-count:hover:after {
  border-top-color: white; }

.post-com-count:hover span {
  color: #892880;
  background-color: white; }

strong .post-com-count:after {
  border-top-color: #892880; }

strong .post-com-count span {
  background-color: #892880; }

/*
 * Admin Menu
 */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: white; }

#adminmenu a {
  color: #892880; }

#adminmenu div.wp-menu-image:before {
  color: #895388; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #e2e2e2;
  background-color: #892880; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #e2e2e2; }

/*
 * Active tabs use a bottom border color that matches the page background color.
 */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1; }

/*
 * Admin Menu: submenu
 */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #890f7d; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #890f7d; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: white; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: white; }
  #adminmenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #e2e2e2; }

/*
 * Admin Menu: current
 */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: white; }
  #adminmenu .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #e2e2e2; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #e2e2e2;
  background: #892880; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #e2e2e2; }

/*
 * Admin Menu: bubble
 */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: white;
  background: #892880; }

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #892880;
  background: white; }

/*
 * Admin Menu: collapse button
 */
#collapse-menu {
  color: #895388; }

#collapse-menu:hover {
  color: white; }

#collapse-button div:after {
  color: #895388; }

#collapse-menu:hover #collapse-button div:after {
  color: #e2e2e2; }

/*
 * Admin Bar
 */
#wpadminbar {
  color: #892880;
  background: white; }

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #892880; }

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #895388; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #e2e2e2;
  background: #890f7d; }

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #e2e2e2; }

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #e2e2e2; }

/*
 * Admin Bar: submenu
 */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #890f7d; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #892880; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: white; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #895388; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #e2e2e2; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #e2e2e2; }

/*
 * Admin Bar: search
 */
#wpadminbar #adminbarsearch:before {
  color: #895388; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #892880;
  background: white; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #892880;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #892880;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #892880;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #892880;
  opacity: 0.7; }

/*
 * Admin Bar: my account
 */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: white;
  background-color: white; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #892880; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #e2e2e2; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: white; }

/*
 * Pointers
 */
.wp-pointer .wp-pointer-content h3 {
  background-color: #892880;
  border-color: #75226e; }

.wp-pointer .wp-pointer-content h3:before {
  color: #892880; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #892880; }

/*
 * Media
 */
.media-item .bar,
.media-progress-bar div {
  background-color: #892880; }

.details.attachment {
  box-shadow: inset 0 0 0 3px white, inset 0 0 0 7px #892880; }

.attachment.details .check {
  background-color: #892880;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #892880; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px #892880;
  box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px #892880; }

/*
 * Themes
 */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #892880; }

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #892880; }

.theme-section.current,
.theme-filter.current {
  border-bottom-color: white; }

body.more-filters-opened .more-filters {
  color: #892880;
  background-color: white; }

body.more-filters-opened .more-filters:before {
  color: #892880; }

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #892880;
  color: #e2e2e2; }

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #e2e2e2; }

/*
 * Widgets
 */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #892880;
  color: #e2e2e2; }

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #e2e2e2; }

/*
 * Customize
 */
#customize-theme-controls .widget-area-select .selected {
  background-color: #892880;
  color: #e2e2e2; }

/*
 * jQuery UI Slider
 */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #892880;
  border-color: #621c5b;
  box-shadow: inset 0 1px 0 #c439b7, 0 1px 0 rgba(0, 0, 0, 0.15); }

/*
 * Responsive Component
 */
div#wp-responsive-toggle a:before {
  color: #895388; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #892880; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #890f7d; }

