$base_color: #ffffff;
$icon_color: #895388;
$highlight_color: #892880;
$notification_color: #892880;
$text_color: #ffffff;
$menu_text: #892880;
$menu_highlight_background: #892880;
$menu_highlight_text: #e2e2e2;
$menu_highlight_icon: #e2e2e2;
$menu_current_text: #e2e2e2;
$menu_submenu_background: #890f7d;
$menu_submenu_text: #ffffff;
$menu_submenu_background_alt: #892880;
$menu_submenu_focus_text: #e2e2e2;
$menu_submenu_current_text: #ffffff;
$menu_bubble_background: #892880;
$menu_bubble_current_background: #ffffff;
$menu_bubble_current_text: #892880;


@import 'colors.css';
@import '_admin.scss';
