


body#tinymce.wp-editor { 
    font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
    color:#4F6374;
    font-size: 14px;
}

body#tinymce.wp-editor h1{
  	color: #882881;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
  }

 body#tinymce.wp-editor h2{
  	color: #882881;
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
  }

 body#tinymce.wp-editor h3{
  	color: #882881;
    font-weight: 400;
    font-size: 18px;
    margin-top: 32px;
  }

 body#tinymce.wp-editor h4{
  	color: #882881;
    font-weight: 400;
    font-size: 16px;
    margin-top: 32px;
  }

body#tinymce.wp-editor p:first-child{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    font-weight: normal;
}


body#tinymce.wp-editor p{
line-height: 1.6;
}


/* ------------------------------------- Events */

body#tinymce.wp-editor .event{
	padding: 8px 0;
}

body#tinymce.wp-editor p.event-date{
font-size: 12px;
margin-bottom: 0;
}

body#tinymce.wp-editor h3.event-name a{
font-size: 14px;
color: #4F6374;
padding: 0;
margin: 0;
font-weight: bold;
}

body#tinymce.wp-editor h3.event-name{
margin: 0;
padding: 0;
}

body#tinymce.wp-editor p.event-location{
font-size: 12px;
margin-bottom: 0;
}


