/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Typography
   ========================================================================== */


/* ==========================================================================
   Structure
   ========================================================================== */

body {
  background-color: #282D35;
  font-size: 62.5%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.road-bg {
  background-image: url('../img/road.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

header,
nav {
  position: fixed;
  height: 85px;
  width: 100%;
  background-color: #fff;
  float: left;
}

.navbar-default {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

.ghost {
  height: 83px;
  width: 100%;
  display: block;
  position: relative;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.helper img {
  vertical-align: middle;
  max-width: 260px;
  max-height: 74px;
  margin-top: 5px;
}

.logo h1 {
  display: inline;
}

.logo {
  position: relative;
  float: left;
  margin: 20px 0 0 30px;
}

.main-menu {
  margin: 20px 40px 0 0;
  height: 85px;
  position: relative;
  z-index: 10;
  float: right;
}

.going-options {
  margin: 15px 40px 0 0;
  height: 85px;
  position: relative;
  z-index: 10;
  float: left;
  padding: 0;
}

.going-options li {
  display: inline;
  list-style-type: none;
  height: 55px;
  width: 55px;
  position: relative;
  float: left;
  z-index: 1;
  margin-right: 15px;
  cursor: pointer;
}

.going-text {
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
}

.navbar-header {
  width: 100%;
}

.main-menu li {
  display: inline;
  list-style-type: none;
  height: 55px;
  width: 55px;
  position: relative;
  float: right;
  z-index: 1;
  margin-right: 20px;
  cursor: pointer;
}

.sub-nav li {
  display: inline;
  list-style-type: none;
  height: 12px;
  width: 50px;
  position: relative;
  text-decoration: underline;
  float: right;
  z-index: 10;
  margin-right: 5px;
  font-size: 12px;
  margin-top: -105px;
}

main {
  width: 100%;
  background-color: #363B48;
  height: 1000px;
}

.circle {
  width: 50px !important;
  height: 50px !important;
  background: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #49A4B5;
}

.circle img {
  width: 46px;
}

.col-sm-6,
.col-sm-12 {
  padding: 5%;
}


/*nofications */

.payment_notify,
.friends_notify {
  position: absolute;
  z-index: 100;
  margin-left: 42px;
  margin-top: -55px;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding: 2px 2px;
  font-size: 12px;
}

.active {
  background-color: #4BA4B5;
  border: 2px solid #49A4B5;
}


/*

        panels

*/

.panel-head {
  background-color: white;
  color: #373C47;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  padding: 10px 15px;
}

.panel-head h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.panel-body {
  background-color: white;
  color: #373C47;
  border-radius: 0 10px 10px 10px;
}

#find_result {
  display: none;
  margin-top: 42px;
  height: 116px !important;
}


/*

        Forms: inputs

*/


/*settings stuff*/

.blue-border {
  border: 1px solid #4BA4B5;
  ;
  padding: 20px;
  border-radius: 20px;
  height: auto;
  padding-bottom: 55px;
}

.blue-border h3 {
  margin-top: 0;
}

.blue-border h4 {
  font-size: 15px;
  padding: 5px 0 0 0;
}

.update-settings,
.update-car {
  margin: 5px 0 0 0;
  position: relative;
  float: right;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  padding: 20px 10px;
  border: solid 2px #4BA4B5;
  transition: border 0.3s;
  border-radius: 15px;
}

.settings-section input[type="text"],
.settings-section input[type="password"],
.settings-section input[type="email"],
.settings-section input[type="file"] {
  padding: 0px 10px;
  border: solid 2px #4BA4B5;
  transition: border 0.3s;
  border-radius: 15px;
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus,
input[type="email"]:focus,
input[type="email"].focus,
input[type="file"]:focus,
input[type="file"].focus {
  border: solid 2px #373C47;
}

.input-group-addon {
  border: 2px;
  border-radius: 15px;
  background-color: #4BA4B5;
  color: white;
}

.input-group {
  width: 90%;
  margin: 10px 5% 0 5%;
}

.login-form {
  margin-top: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 200px;
}

input[type="file"] {
  height: 30px;
  padding-top: 4px !important;
  width: 60%;
  border: dotted 1px #4BA4B5 !important;
}


/*

        buttons

*/

.btn {
  border-radius: 20px;
}

.btn-default {
  border: 1px solid #4BA4B5;
  color: #373C47;
}

.btn-default:hover {
  border: 1px solid #4BA4B5;
  color: white;
  background-color: #4BA4B5;
}

.btn-default:active {
  border: 1px solid #373C47;
  color: white;
  background-color: #373C47;
}

.selected {
  border: 1px solid #4BA4B5;
  background-color: #4BA4B5;
  color: white !important;
}

.selected:hover,
.selected:active {
  color: white;
}


/*

        map canvas

*/

#map-canvas {
  border-radius: 15px;
  height: 400px;
  width: 100%;
  background-color: #4BA4B5;
  position: relative;
  z-index: 1 !important;
}

#map-overlay {
  background-color: #4BA4B5;
  border-radius: 15px;
  width: 240px;
  height: 120px;
  position: relative;
  z-index: 1000 !important;
  top: -130px;
  float: right;
  right: 10px;
}

#verifyJourney-input li {
  list-style-type: none;
  font-size: 12px;
  margin-bottom: 20px;
}

#verifyJourney-input {
  padding-left: 0;
  overflow: auto;
  height: 200px;
}

.signout {
  float: right;
  position: fixed;
  right: 10px;
  top: 2px;
}

.blue-bg {
  background-color: #4BA4B5;
}

.sm_circle {
  width: 15px;
  height: 15px;
  background: #E03B48;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.circle:hover {
  background: #49A4B5;
}


/*

        Friend list styles

*/

.img-circle {
  max-width: 100px;
}


/*.name-fix{
  margin-top: 31px;
}

.button-fix{
  margin-top: 43px;
}
*/

.dropdown {
  float: right;
}

.fname_display {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.lname_display {
  font-size: 14px;
}

.payment_overview {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.whatYouAreOwed,
.whatYouOwe {
  list-style-type: none;
  padding: 20px;
}

.whatYouAreOwed li,
.whatYouOwe li {
  margin-bottom: 20px;
}

.whatYouAreOwed img,
.whatYouOwe img {
  width: 50px;
}

.whatYouAreOwed span,
.whatYouOwe span {
  font-size: 12px;
}

.whatYouAreOwed button {
  float: right;
  margin-top: 10px;
}


/*

        Find friend Style

*/

.img-smaller {
  float: left;
  width: 30%;
  padding: 0;
}

.group_name {
  float: left;
  width: 40%;
  padding: 0;
}

.add_friend {
  float: left;
  width: 50px;
  padding: 0;
}

.dropdown-menu>li>a:hover {
  background-color: #49A4B5;
  color: white;
}

.modal-header {
  background-color: #49A4B5;
  color: white;
}

.close {
  color: white;
  text-shadow: none;
  opacity: 1;
}

#loading {
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url('../img/loading2.gif');
  background-color: #4BA4B5;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

#outputDiv2 {
  color: white;
  font-size: 15px;
  padding: 19px;
  font-weight: normal;
}

#map-overlay {
  display: none;
}


/*

        Hide all sections apart from journey

*/

.payment-section,
.friends-section,
.settings-section {
  display: none;
}


/*

        driver display fix on journey page

*/

.journey-driver img,
.journey-passengers img {
  width: 50px;
}

.journey-driver {
  float: left;
  clear: both;
  width: 15%;
  background-color: red;
}

.journey-passengers {
  float: left;
  width: 85%;
}

.special {
  width: 33.3%;
  float: left;
  text-align: center;
}

.passenger_id {
  width: 33.3%;
  float: left;
  text-align: center;
}

.journey-driver p,
.journey-passengers p {
  text-align: center;
  width: 50px;
}

.journey-driver .fix-name,
.journey-passengers .fix-name {
  margin-top: 50px;
  left: -35px;
}

.journey-driver .fname_display,
.journey-passengers .fname_display {
  font-size: 12px;
}

.journey-driver .lname_display,
.journey-passengers .lname_display {
  font-size: 10px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   sticky menu
   ========================================================================== */

.footer {
  display: none;
}

@media screen and (max-width: 651px) {
  .footer {
    display: block;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 20000;
  }
  .helper img {
    width: 160px !important;
  }
  .navbar {
    height: 55px;
  }
  .navbar-header .main-menu {
    display: none;
  }
  .footer .main-menu {
    display: block !important;
    position: center;
    top: -6px;
  }
  .ghost {
    height: 51px;
    width: 100%;
    display: block;
    position: relative;
  }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}